<nav class="navbar navbar-expand-lg navbar-light bg-success d-flex flex-row-reverse ">
      <div ><button class="btn btn-outline-dark " style="margin: 10px; margin-right: 30px;" type="submit" (click)="onHome()">Home</button></div>  
     <div> <button class="btn btn-outline-dark " style="margin: 10px; margin-right: 30px;" type="submit" (click)="onAdminHome()">Admin Home</button></div>  

</nav>
<div class="time-wrapper d-flex flex-column justify-content-center align-items-center">
<div class="w-25 text-danger text-center alert alert-danger"><h4>Connection Timeout!</h4></div>
<div>
    <i class="fas fa-sign-in fa-xs pe-1 text-info"></i> <a class="text-info" href="/login">Click here to login</a>
</div>
</div>