<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h2 class="logo">Admin Page</h2></a>
      
        <form class="d-flex ">
            <button class="btn btn-outline-dark " style="margin: 10px;" type="submit" routerLink="/admin/admin_login">Login</button>
            <button class="btn btn-outline-dark" style="margin: 10px;" type="submit" routerLink="/admin/admin_registration">Register</button>
            <button class="btn btn-outline-dark" style="margin: 10px;" type="submit" routerLink="/">Home</button>

        </form>
      </div>
  </nav>
<div class="hero">
    <div class="anime">W</div>
    <div class="anime">E</div>
    <div class="anime">L</div>
    <div class="anime">C</div>
    <div class="anime">O</div>
    <div class="anime">M</div>
    <div class="anime">E</div>

</div>
<div class="p-3 mb-10 bg-primary d-flex justify-content-center fs-4" >&COPY; Copyright</div>